<template>
  <Layout>
    <section class="project">
      <header class="project__header">
        <div class="l-constrain">
          <div class="header__container">
            <figure class="header__image">
              <g-image immediate="true" v-if="$page.project.imageTeaser" :src="$page.project.imageTeaser"/>
            </figure>
            <div class="header__content">
              <span class="header__info header__info--type">{{ $page.project.label }}</span>
              <h1 class="project__title"><span>{{ $page.project.title }}</span></h1>
              <span class="header__info project__info--date">{{ $page.project.year }}</span>
            </div>
          </div>
        </div>
      </header>
      <article class="project__content">
        <div class="l-constrain">
          <div class="content__background">
            <figure class="image">
              <g-image immediate="true" v-if="$page.project.imageBackground" :src="$page.project.imageBackground"/>
            </figure>
          </div>
          <div class="content">
            <div class="content__image">
              <picture>
                <g-image immediate="true" v-if="$page.project.imageScreen" :src="$page.project.imageScreen"/>
              </picture>
            </div>
            <div class="content__text" v-html="$page.project.content"/>
          </div>
        </div>
      </article>
      <a class="project__link" :href="$page.project.website"><font-awesome-icon :icon="['fas', 'share']" /></a>
    </section>
    <section class="more-work">
      <div class="l-constrain">
        <div class="content">
          <h3><span>Want more?</span></h3>
          <ProjectTeaser
            :key="nextProject._uid"
            v-bind="nextProject"
          />
        </div>
      </div>
    </section>
  </Layout>
</template>

<page-query>
query Project ($path: String!) {
  project: project (path: $path) {
    label
    title
    year
    imageTeaser
    imageScreen
    imageBackground
    content
    website
    id
  }
  projects: allProject {
    edges {
      node {
        label
        title
        year
        imageTeaser
        path
        id
      }
    }
  }
}
</page-query>

<script>
import ProjectTeaser from '~/components/ProjectTeaser.vue'

export default {
  components: {
    ProjectTeaser
  },
  computed: {
    nextProject () {
      let i = 0
      for (let project of this.$page.projects.edges) {
        if (project.node.id === this.$page.project.id) {
          if (this.$page.projects.edges[i + 1] == null) {
            return this.$page.projects.edges[0].node
          } else {
            return this.$page.projects.edges[i + 1].node
          }
        }
        i++
      }
      // give us back the item of where we are now
    }
  },
  metaInfo() {
    return {
      title: this.$page.project.title
    };
  }
};
</script>

<style scoped lang='scss'>
@import '../assets/scss/_abstract.scss';

@keyframes BottomToTopImage {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  50% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes TopToBottomTitle {
  0% {
    opacity: 0;
    transform: translateY(-25%);
  }
  50% {
    opacity: 0;
    transform: translateY(-25%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes ScalingSmoke {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(.5);
  }
  50% {
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(.5);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
  }
}

.project__header {
  align-items: center;
  display: flex;
  flex-basis: 100%;
  flex-flow: column;
  height: 100vh;
  justify-content: center;
  position: relative;
  z-index: 40;
  &:before {
    background:
    linear-gradient(
      to bottom,
      hsla(0, 0%, 0%, 0) 0%,
      hsla(0, 0%, 0%, 1) 100%
    );
    bottom: 0;
    // content: "";
    display: block;
    height: 100vh;
    pointer-events: none;
    position: absolute;
    width: 100%;
  }
  h1 {
    color: $white;
    font-family: $secondary-font-family;
    font-size: 3vw;
    line-height: 1em;
    margin: 0 1rem;
    text-transform: lowercase;
    text-align: center;
    animation: TopToBottomTitle 1s ease-in-out;
  }
  > .l-constrain {
    position: fixed;
  }
  .header__container {
    align-items: center;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-align: center;
  }
  .header__content {
    align-items: center;
    display: flex;
    flex-basis: 100%;
    flex-flow: row wrap;
    justify-content: space-between;
    text-align: center;
    position: relative;
    z-index: 5;
    .header__info {
      border: none;
      color: $white;
      font-size: modular-scale(-2);
      font-weight: 600;
      letter-spacing: rem(2);
      position: relative;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
  .header__image {
    margin: 0;
    pointer-events: none;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 0;
    img {
      display: block;
      margin: 0 auto;
      max-height: 80vh;
      position: relative;
      width: auto;
      z-index: 5;
      transition: .3s all;
    }
  }
}
.project__content {
  align-items: center;
  background: $black;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  position: relative;
  padding: 15vh 0;
  z-index: 40;
  &:before {
    background:
    linear-gradient(
      to bottom,
      hsla(0, 0%, 0%, 0) 0%,
      hsla(0, 0%, 0%, 1) 100%
    );
    bottom: 0;
    content: "";
    display: block;
    height: 50vh;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    transform: translateY(-100%);
  }
  .image {
    height: 100%;
    left: 50%;
    margin: 0;
    opacity: .3;
    pointer-events: none;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    transform: translateX(-50%) translateY(-50%);
    img {
      display: block;
      height: 100%;
      margin: 0 auto;
      position: relative;
      width: auto;
    }
  }
  .content {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    position: relative;
    z-index: 50;
  }
  .content__text, .content__image {
    flex-shrink: 0;
    width: 50%;
  }
  .content__text {
    color: #8693AB;
    padding: 0;
    position: relative;
    text-align: left;
    z-index: 50;
    /deep/ h3 {
      color: $white;
      font-family: $secondary-font-family;
      font-size: modular-scale(-1);
      margin: rhythm(1) 0 rhythm(1/2);
      text-transform: uppercase;
    }
    /deep/ ul {
      list-style: none;
      margin: 0 0 rhythm(1);
      padding: 0;
    }
    /deep/ a {
      color: #8693AB;
      text-decoration: none;
      &:hover {
        color: $brand-primary;
      }
    }
  }
  .content__link {
    flex-shrink: 0;
    font-size: modular-scale(-1);
    font-weight: 600;
    letter-spacing: 2px;
    margin: 24px 0 48px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }
  picture {
    margin: 0;
    text-align: right;
    img {
      float: right;
      max-width: 50vw;
    }
  }
}
@keyframes BottomToTopLink {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.project__link {
  border-radius: 50%;
  border: 1px solid #8693AB;
  bottom: rhythm(2);
  color: #8693AB;
  height: 50px;
  line-height: 50px;
  position: fixed;
  right: rhythm(5);
  text-align: center;
  width: 50px;
  z-index: 45;
  animation: BottomToTopLink 1s ease-in-out;
  &:hover {
    border: 1px solid white;
    background: white;
  }
}

.more-work {
  background: $black;
  padding: 15vh 0 rhythm(3);
  position: relative;
  text-align: center;
  z-index: 50;
  &:before {
    background:
    linear-gradient(
      to bottom,
      hsla(0, 0%, 0%, 0) 0%,
      hsla(0, 0%, 0%, 1) 100%
    );
    content: '';
    display: block;
    height: 15vh;
    left: 0;
    right: 0;
    position: absolute;
    top: 0;
    transform: translateY(-100%);
  }
  h3 {
    color: $white;
    font-family: $secondary-font-family;
    font-size: modular-scale(4);
    font-weight: 900;
    margin: 0;
    position: relative;
    text-transform: uppercase;
    z-index: 10;&:after {
      background: #fff  ;
      content: '';
      display: block;
      height: 48px;
      margin: rhythm(1) auto;
      width: 1px;
      position: relative;
    }
  }
}
</style>
