<template>
  <Layout>
    <header class="page__header">
      <div class="l-constrain">
        <div class="container l-f-grid">
          <figure class="image">
            <g-image src="~/assets/images/me.png" />
          </figure>
          <div class="text">
            <p>I’m a web designer & front-end developer. I focus on user-friendly interfaces with creative interactions.</p>
          </div>
        </div>
      </div>
    </header>
    <section class="about">
      <div class="l-constrain">
        <div class="container">
          <p class="about__paragraph">If you’d like to get in touch, feel free to contact me at hello[at]baptistemarck.be. I look forward to hearing from you and your project.</p>
          <div class="l-f-grid about__paragraph about__skills">
            <div class="l-f-grid__column">
              <h2>Tools & skills</h2>
            </div>
            <div class="l-f-grid__column">
              <ul>
                <li><font-awesome-icon :icon="['fab', 'drupal']" /></li>
                <li><font-awesome-icon :icon="['fab', 'gulp']" /></li>
                <li><font-awesome-icon :icon="['fab', 'js']" /></li>
                <li><font-awesome-icon :icon="['fab', 'laravel']" /></li>
                <li><font-awesome-icon :icon="['fab', 'npm']" /></li>
                <li><font-awesome-icon :icon="['fab', 'php']" /></li>
                <li><font-awesome-icon :icon="['fab', 'sass']" /></li>
                <li><font-awesome-icon :icon="['fab', 'vuejs']" /></li>
              </ul>
            </div>
          </div>
          <div class="l-f-grid about__paragraph about__education">
            <div class="l-f-grid__column">
              <h2>Education</h2>
            </div>
            <div class="l-f-grid__column">
              <ul>
                <li><g-image immediate="true" src="~/assets/images/logo-heaj.svg" /><p><span>06/2014</span> Bachelor's degree in Computer Graphics - Design Web & Multimedia</p></li>
                <li><g-image immediate="true" src="~/assets/images/logo-frontendunited.svg" /><p><span>2017, 2018</span> Frontend-United</p></li>
                <li><g-image immediate="true" src="~/assets/images/logo-drupalcamp.svg" /><p><span>2016, 2017, 2018</span> Drupalcamp</p></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </Layout>
</template>

<script>
export default {
  metaInfo: {
    title: 'About'
  }
}
</script>

<style scoped lang='scss'>
@import '~/assets/scss/_abstract.scss';

@keyframes BottomToTopParagraph {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  50% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
h1 {
  font-family: $secondary-font-family;
  font-size: modular-scale(2);
  line-height: 1em;
  margin: rhythm(1/2) 0 rhythm(1/3);
}
h2 {
  color: $black;
  font-family: $secondary-font-family;
  font-size: modular-scale(-2);
  margin: 0 0 rhythm(1/2);
  text-transform: uppercase;
  letter-spacing: .125em;
}
p {
  color: $brand-secondary;
  font-size: modular-scale(2);
  margin: 0;
  a {
    color: $black;
    font-weight: 600;
    text-decoration: none;
    &:hover {
      color: $brand-secondary;
    }
  }
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.page__header {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  height: 100vh;
  justify-content: center;
  position: relative;
  z-index: 40;
  &:before {
    background:
    linear-gradient(
    to bottom,
    hsla(0, 0%, 0%, 0) 0%,
    hsla(0, 0%, 0%, 1) 100%
    );
    bottom: 0;
    content: "";
    display: block;
    height: 100vh;
    pointer-events: none;
    position: absolute;
    width: 100%;
  }
  .l-constrain {
    height: 100%;
    left: 50%;
    position: fixed;
    top: 50%;
    width: calc(100% - 64px);
    transform: translateX(-50%) translateY(-50%);
  }
  .container {
    align-items: center;
    height: 100%;
  }
  .image {
    margin: 0;
    width: 140px;
    height: 140px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    border-radius: 50%;
    border: 5px solid rgba($brand-secondary, .1);
    img {
      position: relative;
      display: block;
      width: 100%;
    }
  }
  .text {
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
    text-align: left;
    @media screen and (min-width: 769px) {
      align-self: center;
      flex-basis: (1/2)*100%;
      flex-grow: 1;
      flex-shrink: 0;
      order: 1;
    }
    h1 {
      display: inline;
      &:before {
        content: " ";
        display: inline;
      }
    }
    p {
      color: $white;
      display: inline;
      font-size: modular-scale(2);
      a {
        color: $brand-primary;
      }
    }
  }
}
.about {
  background: $white;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 50;
  @include mappy-query(b-medium) {
    text-align: left;
  }
  &:before {
    background:
    linear-gradient(
    to bottom,
    hsla(0, 0%, 0%, 0) 0%,
    hsla(0, 0%, 0%, 1) 100%
    );
    bottom: 0;
    content: "";
    display: block;
    height: 50vh;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    transform: translateY(-100%);
  }
  .l-f-grid__column {
    @include mappy-query(b-medium) {
      flex-basis: (5/12)*100%;
      width: (5/12)*100%;
      flex-grow: 0;
    }
    &:first-child {
      @include mappy-query(b-medium) {
        margin-left: (1/12)*100%;
      }
    }
  }
}

.about__paragraph {
  border-top: 1px solid rgba($black, .1);
  padding: rhythm(3) 0 rhythm(2);
  margin-bottom: rhythm(1);
  &:first-child {
    border-top: none;
  }
}

.about__skills {
  ul {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    @include mappy-query(b-medium) {
      justify-content: flex-start;
      margin-top: 0;
    }
    li {
      flex-basis: (1/5)*100%;
      margin-bottom: rhythm(1/2);
      text-align: center;
      width: (1/5)*100%;
      @include mappy-query(b-medium) {
        flex-basis: (1/3)*100%;
        width: (1/3)*100%;
      }
      svg {
        color: $black;
        margin-right: rem(5);
        font-size: modular-scale(2);
      }
    }
  }
}

.about__education {
  li {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: rhythm(2) 0 rhythm(1);
    &:first-child {
      margin-top: 0;
    }
    img {
      width: (1/6)*100%;
    }
    p {
      font-size: modular-scale(-3);
      margin-left: (1/6)*100%;
      width: (4/6)*100%;
      text-transform: uppercase;
      span {
        color: $black;
        font-size: modular-scale(1);
        display: block;
      }
    }
  }
}

.container {
  animation: 1s BottomToTopParagraph ease-in-out;
}
</style>
