<template>
  <Layout>
    <section class="page__header">
      <div class="header__content">
        <div class="l-constrain">
          <h2><span class="job__title">{{ job.job_0 }}</span> & <span class="job__title">{{ job.job_1 }}</span></h2>
        </div>
      </div>
    </section>
    <section class="page__project">
      <div class="l-constrain">
        <ProjectTeaser
          v-for="project in $page.projects.edges"
          :key="project.node._uid"
          v-bind="project.node"
        />
      </div>
    </section>
  </Layout>
</template>

<page-query>
query Projects {
  projects: allProject {
    edges {
      node {
        label
        title
        year
        path
        imageTeaser
      }
    }
  }
}
</page-query>

<script>
import ProjectTeaser from '~/components/ProjectTeaser.vue'

export default {
  components: {
    ProjectTeaser
  },
  metaInfo: {
    title: 'Portfolio'
  },
  data () {
    return {
      job: {
        job_0: 'web designer',
        job_1: 'front-end developer'
      }
    }
  }
}
</script>

<style scoped lang="scss">
@import '../assets/scss/_abstract.scss';

@keyframes BluredIntro {
  0% {
    opacity: 0;
    letter-spacing: 10px;
    filter: blur(50px);
  }
  50% {
    opacity: 0;
    letter-spacing: 10px;
    filter: blur(50px);
  }
  100% {
    letter-spacing: 0;
    opacity: 1;
    filter: blur(0px);
  }
}

h2 {
  color: $brand-primary;
  font-size: modular-scale(3);
  font-weight: 300;
  font-family: $base-font-family;
  margin: 0 auto;
  text-align: center;
  animation: BluredIntro 1s ease-in-out;
  .job__title {
    color: $white;
  }
}
.page__header {
  height: 100vh;
  position: relative;
  &:before {
    background:
    linear-gradient(
      to bottom,
      hsla(0, 0%, 0%, 0) 0%,
      hsla(0, 0%, 0%, 1) 100%
    );
    bottom: 0;
    content: "";
    display: block;
    height: 100vh;
    pointer-events: none;
    position: absolute;
    width: 100%;
  }
  .header__content {
    left: 0;
    position: fixed;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
  }
}
.page__project {
  background: $black;
  padding: 15vh 0;
  position: relative;
  z-index: 50;
  &:before {
    background:
    linear-gradient(
      to bottom,
      hsla(0, 0%, 0%, 0) 0%,
      hsla(0, 0%, 0%, 1) 100%
    );
    bottom: 0;
    content: "";
    display: block;
    height: 50vh;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    transform: translateY(-100%);
  }
  .container {
    align-items: center;
    display: inline-flex;
    flex-flow: column wrap;
    justify-content: center;
  }
}
</style>
