<template>
  <figure class="particle-effect">
    <canvas ref="my-canvas"></canvas>
  </figure>
</template>

<script>
export default {
  name: 'Particles',
  data () {
    return {
      provider: {
        context: null
      }
    }
  },
  provide () {
    return {
      provider: this.provider
    }
  },
  mounted () {
    const W = this.$refs['my-canvas'].parentElement.clientWidth
    const H = this.$refs['my-canvas'].parentElement.clientHeight
    const particleCount = 250
    const particles = []
    let particle

    this.provider.context = this.$refs['my-canvas'].getContext('2d')
    this.$refs['my-canvas'].width = W
    this.$refs['my-canvas'].height = H

    const ctx = this.$refs['my-canvas'].getContext('2d')
    ctx.globalCompositeOperation = 'lighter'

    const mouse = {
      x: 0,
      y: 0,
      rx: 0,
      ry: 0,
      speed: 200,
      delta: 0
    }

    document.addEventListener('mousemove', function (e) {
      mouse.x = e.clientX || e.pageX
      mouse.y = e.clientY || e.pageY
      mouse.x -= W / 2
      mouse.y -= H / 2
    }, false)

    function randomNorm (mean, stdev) {
      return Math.abs(Math.round((Math.random() * 2 - 1) + (Math.random() * 2 - 1) + (Math.random() * 2 - 1)) * stdev) + mean
    }

    function Particle () {
      this.h = 100
      this.s = 100
      this.l = 100
      this.a = 0.25 * Math.random()

      this.color = 'hsla(' + this.h + ',' + this.s + '%,' + this.l + '%,' + (this.a) + ')'
      this.shadowcolor = 'hsla(' + this.h + ',' + this.s + '%,' + this.l + '%,' + parseFloat(this.a - 0.55) + ')'

      this.x = Math.random() * W
      this.y = Math.random() * H
      this.direction = {
        'x': -1 + Math.random() * 2,
        'y': -1 + Math.random() * 2
      }

      this.radius = randomNorm(0, 3)
      this.scale = 0.8 * Math.random() + 0.5
      this.rotation = Math.PI / 4 * Math.random()

      this.grad = ctx.createRadialGradient(this.x, this.y, this.radius, this.x, this.y, 0)
      this.grad.addColorStop(0, this.color)
      this.grad.addColorStop(1, this.shadowcolor)

      this.vx = (2 * Math.random() + 4) * 0.01 * this.radius
      this.vy = (2 * Math.random() + 4) * 0.01 * this.radius

      this.valpha = 0.01 * Math.random() - 0.02

      this.move = function () {
        this.x += this.vx * this.direction.x
        this.y += this.vy * this.direction.y
        this.rotation += this.valpha
        // this.radius*= Math.abs((this.valpha*0.01+1))
      }

      this.changeDirection = function (axis) {
        this.direction[axis] *= -1
        this.valpha *= -1
      }

      this.draw = function () {
        ctx.save()
        ctx.translate(this.x + mouse.rx / -20 * this.radius, this.y + mouse.ry / -20 * this.radius)
        ctx.rotate(this.rotation)
        ctx.scale(1, this.scale)

        this.grad = ctx.createRadialGradient(0, 0, this.radius, 0, 0, 0)
        this.grad.addColorStop(1, this.color)
        this.grad.addColorStop(0, this.shadowcolor)
        ctx.beginPath()
        ctx.fillStyle = this.grad
        ctx.arc(0, 0, this.radius, 0, Math.PI * 2, false)
        ctx.fill()
        ctx.restore()
      }

      this.boundaryCheck = function () {
        if (this.x >= W * 1.2) {
          this.x = W * 1.2
          this.changeDirection('x')
        } else if (this.x <= -W * 0.2) {
          this.x = -W * 0.2
          this.changeDirection('x')
        }
        if (this.y >= H * 1.2) {
          this.y = H * 1.2
          this.changeDirection('y')
        } else if (this.y <= -H * 0.2) {
          this.y = -H * 0.2
          this.changeDirection('y')
        }
      }
    }

    function clearCanvas () {
      ctx.clearRect(0, 0, W, H)
    }

    function createParticles () {
      for (let i = particleCount - 1; i >= 0; i--) {
        particle = new Particle()
        particles.push(particle)
      }
    }

    function drawParticles () {
      for (let i = particleCount - 1; i >= 0; i--) {
        particle = particles[i]
        particle.draw()
      }
    }

    function updateParticles () {
      for (let i = particles.length - 1; i >= 0; i--) {
        particle = particles[i]
        particle.move()
        particle.boundaryCheck()
      }
    }

    function initParticleSystem () {
      createParticles()
      drawParticles()
    }

    function animateParticles () {
      clearCanvas()
      setDelta()
      update()
      drawParticles()
      updateParticles()
      requestAnimationFrame(animateParticles)
    }

    initParticleSystem()
    requestAnimationFrame(animateParticles)

    let then

    function setDelta () {
      let now = (new Date()).getTime()
      mouse.delta = (now - then) / 1000
      then = now
    }

    function update () {
      if (isNaN(mouse.delta) || mouse.delta <= 0) {
        return
      }

      const distX = mouse.x - (mouse.rx)
      const distY = mouse.y - (mouse.ry)

      if (distX !== 0 && distY !== 0) {
        mouse.rx -= ((mouse.rx - mouse.x) / mouse.speed)
        mouse.ry -= ((mouse.ry - mouse.y) / mouse.speed)
      }
    }
  }
}
</script>

<style lang="scss">
.particle-effect {
  background:
    linear-gradient(
      180deg,
      hsla(0, 0%, 100%, 0) 0,
      #000
    ),
    url(../assets/images/header-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  left: 0;
  margin: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -5;
  canvas {
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    z-index: 0;
  }
}
</style>
