<template>
  <article class="project">
    <figure class="project__image">
      <g-link :to="path">
        <g-image immediate="true" v-if="imageTeaser" :src="imageTeaser"/>
      </g-link>
    </figure>
    <div class="project__content">
      <span class="project__info project__info--type">{{ label }}</span>
      <h2 class="project__title">
        <g-link :to="path"><span>{{ title }}</span></g-link>
      </h2>
      <span class="project__info project__info--date">{{ year }}</span>
    </div>
  </article>
</template>

<script>
import { TweenMax } from 'gsap'

export default {
  name: 'ProjectTeaser',
  props: {
    path: {
      type: String,
      default: null,
    },
    label: {
      type: String,
      default: null,
    },
    title: {
      type: String,
      default: null,
    },
    year: {
      type: Number,
      default: null,
    },
    imageTeaser: {
      type: String,
      default: null,
    }
  },
  mounted () {
    const project = this.$el
    const title = project.querySelector('.project__title')
    const image = project.querySelector('.project__image')

    project.addEventListener (
      'mousemove', (event) => {
        parallaxIt(event, title, -15)
        parallaxIt(event, image, 25)
      }
    )

    project.addEventListener (
      'mouseout', (event) => {
        reset(title)
        reset(image)
      }
    )

    function parallaxIt(event, target, movement) {
      const relX = event.clientX - project.offsetLeft
      const relY = event.clientY - project.offsetTop

      TweenMax.to(target, 0, {
        x: (relX - project.offsetWidth / 2) / project.offsetWidth * movement,
        y: (relY - project.offsetHeight / 2) / project.offsetHeight * movement
      })
    }

    function reset(target) {
      TweenMax.to(target, 0, {
        x: 0,
        y: 0
      })
    }
  }
};
</script>

<style scoped lang='scss'>
@import '../assets/scss/_abstract.scss';

h2 {
  font-family: $secondary-font-family;
  font-size: 3vw;
  line-height: 1em;
  margin: 0 1rem;
  text-transform: lowercase;
  text-align: center;
  a {
    color: $white;
    display: block;
    padding: rhythm(3) 0;
    text-decoration: none;
  }
  span {
    display: block;
  }
}
.project__info {
  border: none;
  color: $white;
  font-size: modular-scale(-2);
  font-weight: 600;
  letter-spacing: rem(2);
  opacity: 0;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  visibility: hidden;
  transform: translateY(100%);
}
.project__content {
  align-items: center;
  display: inline-flex;
  flex-basis: 100%;
  flex-flow: row wrap;
  justify-content: space-between;
  text-align: center;
  width: 100%;
}
.project__image {
  margin: 0;
  pointer-events: none;
  position: absolute;
  text-align: center;
  visibility: hidden;
  transition: .3s opacity ease-in;
  img {
    display: block;
    margin: 0 auto;
    max-height: 80vh;
    position: relative;
    opacity: 0;
    width: auto;
    z-index: 5;
    transform: translateY(20%);
  }
}
.project {
  align-items: center;
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  position: relative;
  z-index: 250;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
  &:hover {
    z-index: 300;
    .project__title {
      span {
        filter: blur(3px);
        opacity: .3;
        transform: scale(4) translateY(-5%);
        transition: .25s all ease-in;
      }
    }
    .project__image,
    .project__info {
      opacity: 1;
      visibility: visible;
      transition: .3s opacity ease-in;
    }
    .project__info {
      transform: translateY(0%);
    }
    .project__image {
      z-index: 100;
      img {
        opacity: 1;
        transform: translateY(0%);
        transition: .25s all ease-in;
      }
    }
  }
}
</style>
