<template>
  <div class="site-container">
    <header class="site-header">
      <nav class="l-f-grid">
        <h1 class="nav__link"><g-link :to="{ name: 'home' }">Baptiste Marck</g-link></h1>
        <g-link class="nav__link" :to="{ name: 'about' }">About</g-link>
      </nav>
    </header>
    <particles/>
    <main class="site-main" role="main" tabindex="-1">
      <slot/>
    </main>
    <footer class="site-footer">
      <div class="l-constrain">
        <p>{{ text }}<span>{{ email }}</span></p>
        <nav class="social__links">
          <a href="https://twitter.com/bIDISTEE"><font-awesome-icon :icon="['fab', 'twitter']" /></a>
          <a href="https://www.drupal.org/u/baptiste-marck"><font-awesome-icon :icon="['fab', 'drupal']" /></a>
          <a href="https://github.com/baptistemarck/"><font-awesome-icon :icon="['fab', 'github']" /></a>
          <a href="https://www.linkedin.com/in/baptiste-marck-55376274/"><font-awesome-icon :icon="['fab', 'linkedin']" /></a>
        </nav>
      </div>
    </footer>
  </div>
</template>

<script>
export default {
  data () {
    return {
      text: 'If you\'d like to crack a cold one',
      email: 'hello[at]baptistemarck.be'
    }
  }
}
</script>

<style lang="scss">
@import '../assets/scss/_abstract.scss';

html{
  box-sizing: border-box;
  // Affect global rem unit calculation
  font-size: $px-base-font-size-mobile;
  line-height: $base-line-height;

  @include mappy-query(b-small) {
    font-size: $px-base-font-size;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
  // @include font-feature-settings("kern", "liga", "pnum");
  @include prefixer(font-smoothing, antialiased, webkit);
  background-color: $body-color;
  color: $primary-text-color;
  font-family: $base-font-family;
  -webkit-tap-highlight-color: transparent;
}

.l-constrain{
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  @include mappy-query(b-medium) {
    margin-left: auto;
    margin-right: auto;
    max-width: $l-big;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
  }
}

// Reusable flex grid
// Used for views grid display
//

.l-f-grid{
  @include overflow-wrap;
  width: 100%;
  @include mappy-query(b-medium) {
    display: flex;
    flex-wrap: wrap;
  }

  .l-constrain &{
    // Avoid gutters when grid is constrained
    @include mappy-query(b-medium) {
      margin-left: -1rem;
      margin-right: -1rem;
    }
  }
}

.l-f-grid__column{
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 100%;
  max-width: 100%;
  @include mappy-query(b-medium) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.site-container {
  position: relative;
  overflow: hidden;
}

.site-header{
  left: 0;
  margin: rhythm(3) rhythm(3) 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 200;
  @include mappy-query(b-big) {
    margin: rhythm(3) rhythm(5) 0;
  }
  .l-f-grid {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .nav__link {
    color: $white;
    font-family: $secondary-font-family;
    font-size: modular-scale(-2);
    margin: 0;
    pointer-events: auto;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
      color: $brand-primary;
    }
    a {
      color: $white;
      text-decoration: none;
      &:hover {
        color: $brand-primary;
      }
    }
  }
}

.site-footer {
  background: $white;
  padding: rhythm(4) 0 rhythm(2);
  position: relative;
  text-align: center;
  z-index: 150;
  p {
    color: $black;
    font-size: modular-scale(1);
    font-weight: 300;
    margin: 0;
    a {
      color: $link-color;
      text-decoration: none;
      &:hover {
        color: $brand-primary;
      }
    }
    span {
      color: $link-color;
      &:before {
        background: $brand-secondary;
        content: '';
        display: inline-block;
        height: rem(2);
        margin: 0 rem(10);
        vertical-align: middle;
        width: rem(20);
      }
    }
  }
}
.social__links {
  margin: rhythm(1) 0;
  a {
    color: $link-color;
    margin: 0px rem(5);
    &:hover {
      color: $brand-primary;
    }
  }
}
</style>
